.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;

  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    user-select: text !important;
  }
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent button {
  margin-top: 20px;
}

.infoLabel {
  color: #1a73e8; /* Blue accent color */
  font-weight: bold;
}
