.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);

  * {
    user-select: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.appContent {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.appMainContent {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease-out;
}
