.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  * {
    user-select: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.appContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;

  overflow-y: auto;
}
