---
########################
### General settings ###
########################
sampling_rate_features_hz: 10
segment_length_features_ms: 1000

frequency_ranges_hz: # frequency band ranges can be added, removed and altered
  theta: [4, 8]
  alpha: [8, 12]
  low_beta: [13, 20]
  high_beta: [20, 35]
  low_gamma: [60, 80]
  high_gamma: [90, 200]
  HFA: [200, 400]

# Enabled features
features:
  raw_hjorth: true
  return_raw: true
  bandpass_filter: false
  stft: false
  fft: true
  welch: true
  sharpwave_analysis: true
  fooof: false
  bursts: true
  linelength: true
  coherence: false
  nolds: false
  mne_connectivity: false
  bispectrum: false

##############################
### Preprocessing settings ###
##############################
# preprocessing options: raw_resampling, notch_filter, re_referencing, preprocessing_filter, raw_normalization
# note: the list order specifies also the order of execution
preprocessing: [raw_resampling, notch_filter, re_referencing]

raw_resampling_settings:
  resample_freq_hz: 1000

raw_normalization_settings:
  normalization_time_s: 30
  normalization_method: zscore # supported methods: mean, median, zscore, zscore-median, quantile, power, robust, minmax
  clip: 3

preprocessing_filter:
  bandstop_filter: true
  lowpass_filter: true
  highpass_filter: true
  bandpass_filter: true
  bandstop_filter_settings:
    frequency_low_hz: 100
    frequency_high_hz: 160
  bandpass_filter_settings:
    frequency_low_hz: 3
    frequency_high_hz: 200
  lowpass_filter_cutoff_hz: 200
  highpass_filter_cutoff_hz: 3

################################
### Postprocessing settings ####
################################
postprocessing:
  feature_normalization: true
  project_cortex: false
  project_subcortex: false

feature_normalization_settings:
  normalization_time_s: 30
  normalization_method: zscore # supported methods: mean, median, zscore, zscore-median, quantile, power, robust, minmax
  clip: 3

project_cortex_settings:
  max_dist_mm: 20

project_subcortex_settings:
  max_dist_mm: 5

#################################
### Feature specific settings ###
#################################

fft_settings:
  windowlength_ms: 1000
  log_transform: true
  features:
    mean: true
    median: false
    std: false
    max: false
  return_spectrum: false

welch_settings:
  windowlength_ms: 1000
  log_transform: true
  features:
    mean: true
    median: false
    std: false
    max: false
  return_spectrum: false

stft_settings:
  windowlength_ms: 500
  log_transform: true
  features:
    mean: true
    median: false
    std: false
    max: false
  return_spectrum: false

bandpass_filter_settings:
  segment_lengths_ms:
    theta: 1000
    alpha: 500
    low_beta: 333
    high_beta: 333
    low_gamma: 100
    high_gamma: 100
    HFA: 100
  bandpower_features:
    activity: true
    mobility: false
    complexity: false
  log_transform: true
  kalman_filter: false

kalman_filter_settings:
  Tp: 0.1
  sigma_w: 0.7
  sigma_v: 1
  frequency_bands:
    [theta, alpha, low_beta, high_beta, low_gamma, high_gamma, HFA]

burst_settings:
  threshold: 75
  time_duration_s: 30
  frequency_bands: [low_beta, high_beta, low_gamma]
  burst_features:
    duration: true
    amplitude: true
    burst_rate_per_s: true
    in_burst: true

sharpwave_analysis_settings:
  sharpwave_features:
    peak_left: false
    peak_right: false
    num_peaks: false
    trough: false
    width: false
    prominence: true
    interval: true
    decay_time: false
    rise_time: false
    sharpness: true
    rise_steepness: false
    decay_steepness: false
    slope_ratio: false
  filter_ranges_hz:
    - frequency_low_hz: 5
      frequency_high_hz: 80
    - frequency_low_hz: 5
      frequency_high_hz: 30
  detect_troughs:
    estimate: true
    distance_troughs_ms: 10
    distance_peaks_ms: 5
  detect_peaks:
    estimate: true
    distance_troughs_ms: 5
    distance_peaks_ms: 10
  estimator:
    mean: [interval]
    median: []
    max: [prominence, sharpness]
    min: []
    var: []
  apply_estimator_between_peaks_and_troughs: true

coherence_settings:
  channels: [] # List of channel pairs, empty by default. Each pair is a list of two channels, where the first channel is the seed and the second channel is the target.
  # Example channels: [[STN_RIGHT_0, ECOG_RIGHT_0], [STN_RIGHT_1, ECOG_RIGHT_1]]
  frequency_bands: [high_beta]
  features:
    mean_fband: true
    max_fband: true
    max_allfbands: true
  method:
    coh: true
    icoh: true
  nperseg: 128

fooof_settings:
  aperiodic:
    exponent: true
    offset: true
    knee: true
  periodic:
    center_frequency: false
    band_width: false
    height_over_ap: false
  windowlength_ms: 800
  peak_width_limits: [0.5, 12]
  max_n_peaks: 3
  min_peak_height: 0
  peak_threshold: 2
  freq_range_hz: [2, 40]
  knee: true

nolds_settings:
  sample_entropy: false
  correlation_dimension: false
  lyapunov_exponent: true
  hurst_exponent: false
  detrended_fluctutaion_analysis: false
  data:
    raw: true
    frequency_bands: [low_beta]

mne_connectiviy_settings:
  channels: [] # List of channel pairs, empty by default. Each pair is a list of two channels, where the first channel is the seed and the second channel is the target.
  # Example channels: [[STN_RIGHT_0, ECOG_RIGHT_0], [STN_RIGHT_1, ECOG_RIGHT_1]]
  method: plv
  mode: multitaper

bispectrum_settings:
  f1s: [5, 35]
  f2s: [5, 35]
  compute_features_for_whole_fband_range: true
  frequency_bands: [theta, alpha, low_beta, high_beta]
  components:
    absolute: true
    real: true
    imag: true
    phase: true
  bispectrum_features:
    mean: true
    sum: true
    var: true
