[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
name = "py_neuromodulation"
version = "0.0.4"
authors = [{ name = "Timon Merk", email = "timon.merk@charite.de" }]
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Topic :: Software Development :: Libraries :: Python Modules",
]
description = "Real-time analysis of intracranial neurophysiology recordings."
keywords = [
  "real-time",
  "eeg",
  "ieeg",
  "dbs",
  "ecog",
  "electrocorticography",
  "deep-brain-stimulation",
  "machine-learning",
]
license = { file = "LICENSE" }
maintainers = [{ name = "Timon Merk" }]
readme = "README.rst"
requires-python = ">=3.10"

dependencies = [
  "mne",
  "filterpy >= 1.4.5",
  "fooof",
  "imbalanced-learn",
  "matplotlib >= 3.3.4",
  "mne-bids >= 0.8",
  "mne-connectivity",
  "mrmr-selection",
  "nolds",
  "numpy >= 1.21.2",
  "pandas >= 1.2.2",
  "pip",
  "pynput",
  "pybids",
  "scikit-image",
  "scikit-learn >= 0.24.2",
  "scikit-optimize",
  "scipy >= 1.7.1",
  "seaborn >= 0.11",
  "pybispectra>=1.0.0",
  "pyparrm",
  "pyarrow>=14.0.2",
  "joblib>=1.3.2",
  "wget",
  "hatch>=1.9.4",
]

[project.optional-dependencies]
dev = [
    "black>=24.2.0",
    "pytest>=8.0.2",
    "pytest-cov",
    "notebook",
]

docs = [
    "py-neuromodulation[dev]",
    "nbsphinx",
    "sphinx",
    "pandoc",
    "recommonmark",
    "sphinx",
    "numpydoc",
    "sphinx-gallery",
    "nbsphinx_link",
    "pydata-sphinx-theme",
    "pypandoc",
    "sphinx_togglebutton",
]

[tool.rye]
dev-dependencies = [
    "black>=24.2.0",
    "pytest>=8.0.2",
    "pytest-cov",
    "notebook",
    "py-neuromodulation[dev]",
    "nbsphinx",
    "sphinx",
    "pandoc",
    "recommonmark",
    "sphinx",
    "numpydoc",
    "sphinx-gallery",
    "nbsphinx_link",
    "pydata-sphinx-theme",
    "pypandoc",
    "sphinx_togglebutton",
]

[project.urls]
bugtracker = "https://github.com/neuromodulation/py_neuromodulation/issues"
repository = "https://github.com/neuromodulation/py_neuromodulation"

[tool.black]
line-length = 80
target-version = ['py310']

[tool.hatch.build.targets.sdist]
exclude = ["/.github", "/docs"]

[tool.hatch.build.targets.wheel]
packages = ["py_neuromodulation"]
exclude = [
  "py_neuromodulation/data/derivatives",
  "py_neuromodulation/ConnectivityDecoding/connectome_folder",
]

[tox]
env_list =
   py3{10, 11}
 
skip_missing_interpreters = true
isolated_build = true


[testenv]
description = install pytest in a virtual environment and invoke it on the tests folder
deps =
    pytest>=7
    pytest-sugar
commands = pytest tests {posargs}

# check https://stackoverflow.com/a/40831237/5060208 for adding posargs to pytest
