filterpy>=1.4.5
imbalanced-learn
ipykernel
matplotlib>=3.3.4
mne>=0.23.0
mne_bids>=0.8
numpy>=1.21.2
pandas>=1.2.2
pip
pybids>=0.12.4
scikit_learn>=0.24.2
scikit_optimize>=0.8.1
scipy>=1.7.1
seaborn>=0.11
xgboost
