pandas==1.2.2
mne_bids==0.8
xgboost==1.3.3
pybids==0.12.4
scikit_optimize==0.8.1
mne==0.23.0
filterpy==1.4.5
numpy==1.21.2
matplotlib==3.3.4
seaborn==0.11.1
bids==0.0
scikit_learn==0.24.2
scipy==1.7.1
