mne
mne-connectivity
mne-bids
numpy
pandas
scikit-learn
scipy
ipykernel
pytest
filterpy
fooof
scikit-optimize
xgboost
imbalanced-learn
mrmr_selection
nolds
pybids>=0.12.4
nbsphinx
recommonmark
sphinx
fooof
numpydoc
nibabel
matplotlib
seaborn
sphinx-gallery
nbsphinx_link
pydata-sphinx-theme