mne==0.22.0
pybids==0.12.4
matplotlib==3.3.4
scipy==1.6.2
xgboost==1.0.2
pybv==0.5.0
pandas==1.2.2
seaborn==0.11.1
scikit_optimize==0.8
filterpy==1.4.5
bids==0.0
mne_bids==0.7
numpy==1.20.2
scikit_learn==0.24.1
