:root {
  --accent-color: #1a73e8;
}

.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  background-color: #333;
  color: white;

  border-bottom: 1px solid #555;

  h1 {
    margin: 5px 10px;
    font-size: 20pt;
    display: "inline";
    color: white;
    user-select: none;
  }
}

.appTitle {
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: var(--accent-color);
  }
}

/* TOOLBAR */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;

  flex-grow: 1;
}

.toolbarButton {
  text-transform: none;
  color: inherit;
  margin-left: 40px !important; /* Further increased space between buttons */

  &.active {
    color: var(--accent-color);
  }

  :first-child {
    min-width: 50px;
  }
}

/* WINDOW BUTTONS FOR PYWEBVIEW */

.windowButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: white;
    border: none;
    border-left: solid 2px #333;
    background-color: transparent;
    aspect-ratio: 1 / 1;

    transition: background-color 250ms;
  }

  .buttonClose:hover {
    background-color: red;
  }

  .buttonMaximize:hover,
  .buttonMinimize:hover {
    background-color: grey;
  }
}
