.titleBar {
  display: flex;
  flex-direction: row;
  width: 100vw;

  background-color: #333;
  color: white;

  h1 {
    margin: 5px 10px;
    font-size: 20pt;
    display: "inline";
    color: white;
    user-select: none;
  }
}

.homeButton {
  svg {
    width: 100%;
    height: 100%;
  }
}

.windowButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: white;
    border: none;
    border-left: solid 2px #333;
    background-color: transparent;
    aspect-ratio: 1 / 1;

    transition: background-color 250ms;
  }

  .buttonClose:hover {
    background-color: red;
  }

  .buttonMaximize:hover,
  .buttonMinimize:hover {
    background-color: grey;
  }
}

.dragArea {
  flex-grow: 1;
  cursor: move;
}
