.dashboardContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dashboard {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.graphContainer {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: auto;
}
