.settingsPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.settingsContainer {
  height: fit-content;

  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

.settingsSection {
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.settingLabel {
  flex-grow: 1;
  margin-right: 10px;
}
