.sourceSelectionContainer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50%;
}

.sourceSelectionHeader {
  padding: 0 3rem;
  flex-grow: 0;
}

.sourceSelectionBody {
  flex-grow: 1;
  width: 100%;
}

.sourceSelectionFooter {
  flex-grow: 0;
}

.sourceTypeButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  margin-inline: auto;
  margin-bottom: 2rem;
}
