/* Toolbar.css */

.app-bar {
    background-color: #333 !important; /* Ensure dark minimalistic background */
    color: #f4f4f4 !important; /* Light text color */
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px; /* Add padding to the toolbar */
  }
  
  .toolbar-icon-button {
    margin-right: 40px; /* Further increased space from the first button */
  }
  
  .toolbar-button {
    text-transform: none;
    color: inherit;
    margin-left: 40px !important; /* Further increased space between buttons */
  }
  
  .toolbar-button.active {
    color: #1a73e8; /* Accent color for active state */
  }
  
  .toolbar-title {
    flex-grow: 1;
    text-align: right;
    color: #f4f4f4; /* Light text color */
  }
  