* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
.container {
  max-width: 650px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  border-bottom: 1px solid black;
  overflow: hidden;
}
.wrapper .questionContainer {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.title-container.active {
  color: #1db954;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
}

.wrapper .title-container:hover {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
}
.wrapper .arrow {
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
.arrow.active {
  rotate: 180deg;
  color: #1db954;
}
.wrapper .contentContainer {
  padding: 0 1rem;
  transition: height 0.7s ease-in-out;
}

.collapsibleBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.arrow {
  height: 50%;
  transition: rotate 0.3s ease;
  fill: blue;
}

.arrow * {
  fill: inherit;
}

.header:has(.checkbox:checked) .arrow {
  rotate: 90deg;
}

.checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.contentWrapper {
  overflow: hidden;
  transition: height 0.3s ease;
  transition: max-height 0.3s ease;
  height: fit-content;
  max-height: 0px;
  transition: max-height 0.3s ease;
}
.wrapper .arrow {
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
.arrow.active {
  rotate: 180deg;
  color: #1db954;
}
.wrapper .contentContainer {
  padding: 0 1rem;
  transition: height 0.7s ease-in-out;
}
